* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
 height: 100vh;
}

.container {
    display:flex;
    background: #ccc1;
    height: 400px;
    border: 1px solid black;
    justify-content: space-around;
    align-content: center; /*stretch the height to the max height*/
    align-items: center;
    flex-wrap: wrap;
}
.item {
    background: gray;
    width: 75px;
    margin: 10px;
    color: yellow;
    border: 1px solid black;
}

.item1 {
    min-height: 50px;
}
.item2 {
    min-height: 100px;
    flex-grow: 2;
}
.item3 {
    min-height: 150px;
    flex-grow: 1;/*grow = taking the remainder space*/
}